@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #2e997d;
  --primary-sm: #2e997d;
  --primary-hover: #328e75;
  --dark: #002722;
  --dark-hover: #011714;
  --midDark: #00564a;
  --midDark-hover: #04433b;
  --secondary: #aacd71;
  --secondary-hover: rgb(153, 183, 104)1;
  --info: #d9f8f3;
  --info-hover: #c2ddd8;
  --white: #ffffff;
  --white-hover: #fcfcfc;
  --black: #101110;
  --transparant: #ffffff00;
  --transparant-hover: #00000015;
  --warning: #edc526;
  --warning-hover: #ecc115;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--white);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.navbar.top {
  background-color: transparent;
  color: var(--white);
}
.navbar.bottom {
  background-color: var(--white);
  color: var(--primary);
  box-shadow: 0px 0px 20px -7px var(--midDark);
}
.navbar .nav-left {
  display: flex;
  align-items: center;
  height: auto;
}
.navbar .nav-left .btn-sidebar {
  display: none;
}
.navbar .nav-right {
  height: auto;
}

.sidebar {
  display: none;
}

.nav-logo {
  padding: 10px;
}

.nav-menu {
  height: 100%;
  display: flex;
}
.nav-menu .nm-item .item {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  min-width: 100px;
  text-align: center;
  justify-content: center;
}
.nav-menu .nm-item .dropdown {
  position: absolute;
  visibility: hidden;
  display: none;
}
.nav-menu .nm-item:hover {
  background-color: var(--primary);
  color: var(--white);
}
.nav-menu .nm-item:hover .dropdown {
  background-color: var(--midDark);
  position: absolute;
  visibility: visible;
  display: grid;
  gap: 5px;
}
.nav-menu .nm-item:hover .dropdown .dropdown-item {
  padding: 13px;
  color: white;
  text-align: left;
  min-width: 100px;
}
.nav-menu .nm-item:hover .dropdown .dropdown-item:hover {
  color: var(--black);
  background-color: var(--warning);
}

.section {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.section .item-section {
  width: 90%;
}

.card-dokter {
  box-shadow: 0px 10px 18px -15px var(--dark);
  overflow: hidden;
  border-radius: 10px;
}
.card-dokter .body {
  position: relative;
}
.card-dokter .body .desc {
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  padding: 10px;
  text-align: center;
}
.card-dokter .body .desc .name {
  font-size: 25px;
  font-weight: bold;
}
.card-dokter .body .desc .motto {
  font-size: 15px;
  color: var(--primary);
  font-style: italic;
}

.footer {
  padding: 20px;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: var(--primary);
  color: var(--white);
}
.footer .footer-item {
  width: 100%;
}
.footer .footer-item .head {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.footer .footer-item .body {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background-color: var(--white);
  }
  .sidebar-menu {
    height: 100%;
    color: var(--primary);
  }
  .sidebar-menu .sidebar-item {
    font-size: 20px;
  }
  .sidebar-menu .sidebar-item .item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    height: 100%;
    min-width: 100%;
    text-align: left;
    justify-content: flex-start;
  }
  .sidebar-menu .sidebar-item .item.active {
    background-color: var(--primary);
    color: var(--white);
  }
  .sidebar-menu .sidebar-item .dropdown {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .sidebar-menu .sidebar-item .dropdown.active {
    background-color: var(--white);
    position: static;
    visibility: visible;
    display: grid;
  }
  .sidebar-menu .sidebar-item .dropdown.active .dropdown-item {
    padding: 13px;
    color: var(--primary);
    text-align: center;
    min-width: 100px;
  }
  .sidebar-menu .sidebar-item .dropdown.active .dropdown-item:hover {
    color: var(--black);
    background-color: var(--warning);
  }
  .sidebar-menu .sidebar-item:hover {
    background-color: var(--primary-hover);
    color: var(--white);
  }
  .navbar {
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    display: flex;
    justify-content: flex-start;
  }
  .navbar.top {
    background-color: var(--white);
    color: var(--white);
    color: var(--primary);
    box-shadow: 0px 0px 20px -7px var(--midDark);
  }
  .navbar.bottom {
    background-color: var(--white);
    color: var(--primary);
    box-shadow: 0px 0px 20px -7px var(--midDark);
  }
  .navbar .nav-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar .nav-left .btn-sidebar {
    display: block;
    padding: 20px;
    border-radius: 100px;
  }
  .navbar .nav-right {
    display: none;
  }
  .nav-logo {
    padding: 10px;
  }
  .nav-menu {
    height: 100%;
    display: flex;
  }
  .nav-menu .nm-item .item {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
    min-width: 100px;
    text-align: center;
    justify-content: center;
  }
  .nav-menu .nm-item .dropdown {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .nav-menu .nm-item:hover {
    background-color: var(--primary);
    color: var(--white);
  }
  .nav-menu .nm-item:hover .dropdown {
    background-color: var(--midDark);
    position: absolute;
    visibility: visible;
    display: grid;
    gap: 5px;
  }
  .nav-menu .nm-item:hover .dropdown .dropdown-item {
    padding: 13px;
    color: white;
    text-align: left;
    min-width: 100px;
  }
  .nav-menu .nm-item:hover .dropdown .dropdown-item:hover {
    color: var(--black);
    background-color: var(--warning);
  }
  .section {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .section .item-section {
    width: 100%;
  }
  .card-dokter {
    box-shadow: 0px 10px 18px -15px var(--dark);
    overflow: hidden;
    border-radius: 10px;
  }
  .card-dokter .body {
    position: relative;
  }
  .card-dokter .body .desc {
    width: 100%;
    height: fit-content;
    background-color: var(--white);
    padding: 10px;
    text-align: center;
  }
  .card-dokter .body .desc .name {
    font-size: 15px;
    font-weight: bold;
  }
  .card-dokter .body .desc .poli {
    font-size: 12px;
  }
  .card-dokter .body .desc .motto {
    font-size: 10px;
  }
  .footer {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--primary);
    color: var(--white);
  }
  .footer .footer-item {
    width: 100%;
  }
  .footer .footer-item .head {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
.text-white {
  color: var(--white);
}

.text-primary {
  color: var(--primary);
}

.text-dark {
  color: var(--dark);
}

.text-midDark {
  color: var(--midDark);
}

.text-secondary {
  color: var(--secondary);
}

.text-info {
  color: var(--info);
}

.text-black {
  color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-midDark {
  background-color: var(--midDark);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-info {
  background-color: var(--info);
}

.bg-black {
  background-color: var(--black);
}

.bg-warning {
  background-color: var(--warning);
}

.border-white {
  border-color: var(--white);
}

.border-primary {
  border-color: var(--primary);
}

.border-dark {
  border-color: var(--dark);
}

.border-midDark {
  border-color: var(--midDark);
}

.border-secondary {
  border-color: var(--secondary);
}

.border-info {
  border-color: var(--info);
}

.border-black {
  border-color: var(--black);
}

button.btn {
  border-radius: 5px;
  transition: 0.2s ease;
}
button.btn:active {
  transform: scale(0.97);
}
button.btn.btn-transparant {
  background-color: var(--transparant);
  padding: 7px;
}
button.btn.btn-transparant:hover {
  background-color: var(--transparant-hover);
}
button.btn.btn-white {
  background-color: var(--white);
  padding: 7px;
}
button.btn.btn-white:hover {
  background-color: var(--white-hover);
}
button.btn.btn-primary {
  background-color: var(--primary);
  padding: 7px;
}
button.btn.btn-primary:hover {
  background-color: var(--primary-hover);
}
button.btn.btn-dark {
  background-color: var(--dark);
  padding: 7px;
}
button.btn.btn-dark:hover {
  background-color: var(--dark-hover);
}
button.btn.btn-midDark {
  background-color: var(--midDark);
  padding: 7px;
}
button.btn.btn-midDark:hover {
  background-color: var(--midDark-hover);
}
button.btn.btn-secondary {
  background-color: var(--secondary);
  padding: 7px;
}
button.btn.btn-secondary:hover {
  background-color: var(--secondary-hover);
}
button.btn.btn-info {
  background-color: var(--info);
  padding: 7px;
}
button.btn.btn-info:hover {
  background-color: var(--info-hover);
}
button.btn.btn-black {
  background-color: var(--black);
  padding: 7px;
}
button.btn.btn-black:hover {
  background-color: var(--black);
}
button.btn.btn-warning {
  background-color: var(--warning-hover);
  padding: 7px;
}
button.btn.btn-warning:hover {
  background-color: var(--warning-hover);
}

.btn-sidebar {
  display: block;
  padding: 20px;
  border-radius: 100px;
}

button.btn-circle {
  border-radius: 100%;
  transition: 0.2s ease;
}
button.btn-circle:active {
  transform: scale(0.97);
}
button.btn-circle.btn-transparant {
  background-color: var(--transparant);
  padding: 7px;
}
button.btn-circle.btn-transparant:hover {
  background-color: var(--transparant-hover);
}
button.btn-circle.btn-white {
  background-color: var(--white);
  padding: 7px;
}
button.btn-circle.btn-white:hover {
  background-color: var(--white-hover);
}
button.btn-circle.btn-primary {
  background-color: var(--primary);
  padding: 7px;
}
button.btn-circle.btn-primary:hover {
  background-color: var(--primary-hover);
}
button.btn-circle.btn-dark {
  background-color: var(--dark);
  padding: 7px;
}
button.btn-circle.btn-dark:hover {
  background-color: var(--dark-hover);
}
button.btn-circle.btn-midDark {
  background-color: var(--midDark);
  padding: 7px;
}
button.btn-circle.btn-midDark:hover {
  background-color: var(--midDark-hover);
}
button.btn-circle.btn-secondary {
  background-color: var(--secondary);
  padding: 7px;
}
button.btn-circle.btn-secondary:hover {
  background-color: var(--secondary-hover);
}
button.btn-circle.btn-info {
  background-color: var(--info);
  padding: 7px;
}
button.btn-circle.btn-info:hover {
  background-color: var(--info-hover);
}
button.btn-circle.btn-black {
  background-color: var(--black);
  padding: 7px;
}
button.btn-circle.btn-black:hover {
  background-color: var(--black);
}
button.btn-circle.btn-warning {
  background-color: var(--warning-hover);
  padding: 7px;
}
button.btn-circle.btn-warning:hover {
  background-color: var(--warning-hover);
}

.icon {
  filter: brightness(0) invert(1);
}

/*# sourceMappingURL=globals.css.map */
